/*
______________BASE______________
*/

/*body {
	background-color: #f5f2ec;
	background-image: url(../img/upfeathers.png);
	background-repeat: repeat;
} */

body {
	background: #fff;
	color: #362f2d;
}

.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.wrapper {}

.header {
	background-color: #f26d7d;
	height: 50px;
}

.columns {}

.content {
	/*dev*/ background: rgba(0,255,0,0.1);
	/*dev*/ min-height: 200px;
}

.sidebar {
	/*dev*/ background: rgba(0,0,255,0.1);
	/*dev*/ min-height: 200px;
}

.footer {
	background: #f8b6be;
	height: 85px;
}



@media screen and (min-width: 978px) {
	
	.wrapper {
		width: 978px;
		margin: 0 auto;
	}

	.header {
		background: none;
		height: 195px;
	}

	/* columns */
	.columns{
		background: #fff;
		padding: 30px;
		-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
		-moz-box-shadow:    0px 0px 20px 0px rgba(0, 0, 0, 0.15);
		box-shadow:         0px 0px 20px 0px rgba(0, 0, 0, 0.15);
	}

	.content {
		float: left;
		width: 602px;
	}

	.sidebar {
		float: right;
		width: 286px;
	}

	.footer {
		background: none;
		height: 55px;
		margin: 30px 0;
	}
}